<b>username :</b> 
<%= locals.user.fname +" "+locals.user.lname %> <br><br>

<b>DOB :</b> 
<%= locals.user.DOB.getDate() %> /
<%= locals.user.DOB.getMonth()+1 %> /
<%= locals.user.DOB.getYear() %> <br><br>

<b>Gender :</b> 
<%= locals.user.gender %> <br><br>

<a href="/question/MyQuestions">My Questions</a> <br><br>
<a href="#">Followers</a> <br><br>
<a href="/dashboard/following">Following</a> <br><br>
<a href="#">My Responses</a> <br><br>
<a href="#">Messages</a> <br><br>
<a href="#">Settings</a> 
