<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <%- include('../static_files/css/styleLinks'); %>
        <%- include('../static_files/javascript/scriptLinks'); %>
    </head>
    <body>
        <% if(locals.user && locals.user.is_selected=='true' && locals.user.is_verified=='true'){ %>
            <span style="position: absolute;left : 10%">
                <%- include('_header'); %>
            </span>
            <span style="position: absolute;top:10%;left : 20%;right : 20%;
            border-left: 0.25px solid rgb(153, 151, 151);padding-left: 20px;
            border-right: 0.25px solid rgb(153, 151, 151);padding-right: 20px;">
                <%- body %>
            </span>
            <span style="position: absolute;top: 10%;">
                <%- include('_left');  %>
            </span>
            <span style="position: absolute;top: 10%;left : 80%;padding-left: 20px;">
                <%- include('_right');  %> 
            </span>
            <span style="position: absolute;top: 90%;left : 30%;">
                <%- include('_footer'); %>
            </span>
        <% } 
        else{ %>
            <%- include('_header'); %> <br>
            <%- body %>
            <%- include('_footer'); %>
        <% } %>
        
        <script>
            <% if(flash.success && flash.success.length>0){ %>
                new Noty({
                theme : 'relax',
                text : '<%= flash.success  %>',
                timeout : 3000,
                type : 'success'
            }).show();
            <% } %>

            <% if(flash.error && flash.error.length>0){ %>
                new Noty({
                theme : 'relax',
                text : '<%= flash.error  %>',
                timeout : 3000,
                type : 'error'
            }).show();
            <% } %>
        </script>
    </body>
</html>