<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <%- include('../static_files/css/styleLinks'); %>
        <%- include('../static_files/javascript/scriptLinks'); %>
    </head>
    <body>
        <% if(locals.user && locals.user.is_selected=='true' && locals.user.is_verified=='true'){ %>
            <span style="position: absolute;left : 10%">
                <%- include('_header'); %>
            </span>
            <span style="position: absolute;top:10%;left : 20%;right : 20%;
            border-left: 0.25px solid rgb(153, 151, 151);padding-left: 20px;
            border-right: 0.25px solid rgb(153, 151, 151);padding-right: 20px;">
            <main id="layout-main">
                <%- body %>
            </main>
            </span>
            <span style="position: absolute;top: 10%;">
                <%- include('_left');  %>
            </span>
            <span style="position: absolute;top: 10%;left : 80%;padding-left: 20px;">
                <%- include('_right');  %> 
            </span>
            <span style="position: absolute;top: 90%;left : 30%;">
                <%- include('_footer'); %>
            </span>
        <% } 
        else{ %>
            <%- include('_header'); %> 
            <%- body %>
            <%- include('_footer'); %>
        <% } %>
        <%- include('flash'); %>
    </body>
</html>