<h2>
    <%= question_obj.question %>
</h2>

<% if(locals.user.id == question_obj.user.id){ %>
    <a href="/plag/checkPlag/?question_id=<%= question_obj.id %>">Check Plagiarism</a>
    <br><br>
<% } %> 

Username:
<a href="/user/userDetails/?user_id=<%= question_obj.user.id %>">
    <%= question_obj.user.fname +" "+question_obj.user.lname %>
</a>

<br><br>
<a href="/question/addLikes/?question_id=<%= question_obj.id %>">Likes :
    <%= question_obj.likes.length %>
</a>
|
<a href="/question/addDislikes/?question_id=<%= question_obj.id %>">Dislikes :
    <%= question_obj.dislikes.length %>
</a> <br><br>

<u><b>Comments</b></u>
<form action="/question/comment/addComment/?question_id=<%= question_obj.id %>" method="POST">
    <textarea name="comment" cols="60" rows="5" placeholder="Add Your Comment Here ..."></textarea>
    <input type="submit" value="Add Comment">
</form>
<% for(var i of question_obj.comments){ %>
    <%= i.comment %>
    <% if(i.user.id == locals.user.id){ %>
        <a href="/user/userDetails/?user_id=<%= locals.user.id %>">
        You</a>
    <% }
    else{ %>
        <a href="/user/userDetails/?user_id=<%= i.user.id %>">
            <%= i.user.fname + " "+i.user.lname %>
        </a>
    <% } %>
    <br><br>
<% } %>